<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/association.css">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    </head>
    <body>
        <div class = container>
          <div class="navbar2">
            <div class="bigtitle">
            <a href="/home"><h1 class="bigtitle">InterChristian</h1></a>
            </div>
            
            <a href="/home" class="homebar">HOME</a>
            

        <div class="dropdown2">
            <a href="/about-us" class="dropbtn2">ABOUT US</a>
        <div class="dropdown-content2">
            <a href="/dreamteam">DREAMTEAM</a>
            <a href="/visionary">VISIONARY</a>
            <a href="/newspaper">NEWSPAPER</a>
            <a href="/center">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <a href="/memberships" class="dropbtn2">MEMBERSHIPS</a>
        <div class="dropdown-content2">
            <a href="/council">COUNCIL</a>
            <a href="/council-membership">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030">MINISTERS 2030</a>
            <a href="/leaders-2030">LEADERS 2030</a>
            <a href="/association">ASSOCIATION</a>
            <a href="/association-membership">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/initiatives" class="dropbtn2">INITIATIVES </a>
        <div class="dropdown-content2">
            <a href="/fellowship">FELLOWSHIP</a>
            <a href="/festivals">FESTIVALS</a>
            <a href="/small-groups">SMALL GROUPS</a>
            <a href="/seminars">SEMINARS</a>
            <a href="/seminars-registration">SEMINARS REGISTRATION</a>
            <a href="/seminary">SEMINARY</a>
            <a href="/institutes">INSTITUTES</a>
            <a href="/care">CARE</a>
            <a href="/build">BUILD</a>
            <a href="/lifeline">LIFELINE</a>
            <a href="/foodbank">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/contact-us" class="dropbtn2">CONTACT US</a>
        <div class="dropdown-content2">
            <a href="/donate501">DONATE 501C3</a>
            <a href="/yourprivacy">YOUR PRIVACY</a>
            <a href="/ourpolicies">OUR POLICIES</a>
            <a href="/join-email">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        
        
        </div>  
        <div class = "logo">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <h4 class = "tax">A 501c3 Tax Exempted Religious Organization</h4>
            <img src = "http://nebula.wsimg.com/2ef6cf8437299c8413d38fe35c5f6681?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
            <h4 class = "body-header">InterChristian International Association</h4>
        </div>
            <div class = "body-container">
                <h1 class = "header2">"That all of them may be one" is the vision of this mission. </h1>
                <h5 class = "center">InterChristian Association for Ministry Professionals</h5>
                <h5 class = "center2"><em>An International Association for Pastors, Ministers, Counselors, Missionaries, Chaplain, Leaders and Theologians, empowered in Unity to fulfill the Great Commission</em></h5>
                <p class = "text1"> <em>"That all of them may be one, Father, just as you are in me and I am in you. May they also be in us so that the world may believe that you have sent me".</em></p>
                <p class = "verse"><strong>- John 17:21</strong></p>
                <p class = "text1"><em>"Behold, how good and how pleasant it is for brethren to dwell together in unity! It is like the precious ointment upon the head, that ran down upon the beard, even Aaron's beard: that went down to the skirts of his garments;  As the dew of Hermon, and as the dew that descended upon the mountains of Zion: for there the Lord commanded the blessing, even life for evermore".</em></p>
                <p class = "verse"><strong>- Psalms 133:1-3</strong></p>
        <p class = "text1">The founder of the Mission InterChristian Initiatives envisions that InterChristian Society will empower the Christian Ministers, Pastors, Missionaries and Priests.  As per these prayer of Lord Jesus Christ "That all of them may be one, Father, just as you are in me and I am in you. So the part of the vision is to create an Association to identify and unit these Christian full time men and women of God who are working full time at least once a year to fulfill the calling. The fellowship will help them to share the burden with one another and bear the burden. A supporting community around them will help these people of God to ease their loads and continue not only to persevere but also thrive in their own ministries. </p>
        <p class = "text1">InterChristian Association is an International Umbrella Body of Ministry Professionals of the Gospel based in Princeton, New Jersey in United States particularly of those who do not have an affiliation with any other International Body. InterChristian Association offer national and international level fellowship and partnership among its like-minded members of 21st century. While the main-line traditional Churches and Institutions offer recognition to their pastors and ministers, there are many who are outside need such identification, influence, support and network and InterChristian Association offers global level credentials.</p>
        <h4 class ="center">Membership</h4>
        <p class = "text1">InterChristian Association believes in Nicene Creed as foundational belief and everyone who believes it are welcome to be a member of the InterChristian International Association</p>
        <p class = "text1">We invite you to affiliate with a small membership fee with InterChristian Association. We have membership for various Associations.  We meet periodically nationally and internationally for the purpose of learning and sharing the resources by networking with each other. There are seven categories of Association for seven kinds of full time servants of God. When you choose your Association if you do not find one that you do not fit in please contact our office. The seven Association are as follows.</p>
        <p class = "text1">Although InterChristian International Association offers membership to all, we do need to maintain the database and continue to have many Events and Seminars. We are exploring various schemes to support these members in every way possible. Kindly fill out the Membership form and pay a non refundable donation of $52 USD, it is $1 per week and meant for a year.  Kindly click the link here and apply for InterChristian Association Membership.</p>
        <h5 class = "center">Benefits of Members:</h5>
        <h5 class = "benefits">Association Members will be able to …</h5>
        <ol class = "list">
            <li>Represent in United Nation and World Council of Churches relevantly.</li>
            <li>Attend national and international educational and leadership programs and network.</li>
            <li>Avail the benefits of InterChristian Care program such as availing loans, insurance, scholarships and grants.</li>
            <li>Receive professional development evaluation by assessment and consultation.</li>
            <li>Get referral, advocacy and mediation and advertisement at subsidized cost.</li>
            <li>Use InterChristian Logo in all their publication and are authorized to claim their identity.</li>
            <li>Access discounts on halls, hotels, guest houses, travels, website, printings, publications etc.</li>
        </ol>
        <p class = "text1">We will send you an id card valid for every year from InterChristian International Office in Princeton. The members will have discount in InterChristian Events and will have higher chance to get sponsorship for ministries as and when it becomes available.</p>
        <h4 class = "center">Subscription</h4>
        <p class = "text1">Every professional member will pay $52 per year for each professional membership. Every year subscription is renewable and subscriptions are non-refundable.</p>
        <h4 class = "center">Requirement</h4>
        <ol class = "list">
            <li>Detailed Resume</li>
            <li>Detailed Testimony</li>
            <li>Identification Documents such as Passport Copy</li>
            <li>Recent Photo</li>
            <li>Filled Form and Subscription</li>
        </ol>
        <h4 class = "center">Association Group</h4>
        <ul class = "list2">
            <li>Group 1.  InterChristian International Association for Pastors</li>
            <li>Group 2.  InterChristian International Association for Missionaries</li>
            <li>Group 3.  InterChristian International Association for Theologians</li>
            <li>Group 4.  InterChristian International Association for Chaplains</li>
            <li>Group 5.  InterChristian International Association for Counselors</li>
            <li>Group 6.  InterChristian International Association for Leaders</li>
            <li>Group 7.  InterChristian International Association for Ministers</li>
        </ul>
        <h5 class = "franchise">Please write an email to our office@interchristian.org to join InterChristian Council or get more information.</h5>
            </div>
        </div>
    </body>
    <div class = "container">
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
    </div>
</html>
