<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="styling.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/forms.css">
    </head>
    <body>
        
       <div class="navbar2">
            <div class="bigtitle">
            <a href="/home.html"><h1 class="bigtitle">InterChristian</h1></a>
            </div>
            
            <a href="/home.html" class="homebar">HOME</a>
            

        <div class="dropdown2">
            <a href="/about-us.html" class="dropbtn2">ABOUT US</a>
        <div class="dropdown-content2">
            <a href="/dreamteam.html">DREAMTEAM</a>
            <a href="/visionary.html">VISIONARY</a>
            <a href="/newspaper.html">NEWSPAPER</a>
            <a href="/center.html">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <a href="/memberships.html" class="dropbtn2">MEMBERSHIPS</a>
        <div class="dropdown-content2">
            <a href="/council.html">COUNCIL</a>
            <a href="/councilmembership.html">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030.html">MINISTERS 2030</a>
            <a href="/leaders-2030.html">LEADERS 2030</a>
            <a href="/association.html">ASSOCIATION</a>
            <a href="/associationmembership.html">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/initiatives.html" class="dropbtn2">INITIATIVES </a>
        <div class="dropdown-content2">
            <a href="/fellowship.html">FELLOWSHIP</a>
            <a href="/festivals.html">FESTIVALS</a>
            <a href="/small-groups.html">SMALL GROUPS</a>
            <a href="/seminars.html">SEMINARS</a>
            <a href="/seminarregistration.html">SEMINNARS REGISTRATION</a>
            <a href="/seminary.html">SEMINARY</a>
            <a href="/institutes.html">INSTITUTES</a>
            <a href="/care.html">CARE</a>
            <a href="/build.html">BUILD</a>
            <a href="/lifeline.html">LIFELINE</a>
            <a href="/foodbank.html">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/contact-us.html" class="dropbtn2">CONTACT US</a>
        <div class="dropdown-content2">
            <a href="/donate501.html">DONATE 501C3</a>
            <a href="/yourprivacy.html">YOUR PRIVACY</a>
            <a href="/ourpolicies.html">OUR POLICIES</a>
            <a href="/join-email.html">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        
        
        </div> 
        

        
        
        
        
       
        <div class="container-fluid">
        <div class = "logo">
            <img src = "logo.png">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <p>A 501c3 Tax Exempted Religious Organization</p>
            <h1 id = "page-title">InterChristian International Association</h1>
        </div>
        <h3 class = "body-header" class="placing">Membership Application Form.</h3>
        <p class = "letter" class="placing">Dear Friends, </p>
        <p class = "letter" class="placing">Thank you for taking time to visit our website. We like to stay in touch with you and keep you informed of all the good things that happens because of your good will and prayers. We also like to see if we can be of assistance in your life in any way possible. Whatever "it" is, we want to hear it. Whether you need more information on our Initiatives and Services, want us to reach out to you, your Church and Community, please feel free to write few lines and hit the submit button at the bottom, one of us will be able to call you or email you.</p>
        <p class="placing">Paul Rajan</p>
        <p class="placing">CEO</p>
        <p class="signature">InterChristian International</p><br>
        
         <form class="regularForm" mehtod = "post" action = "/seminars-registration.html">
            Name:<br>
            <input type="text" name="name"  size="100" placeholder="Enter name here as it is found in your Passport or Government ID" required><br>
            Email:<br>
            <input type="text" name="email" size="100" placeholder="Enter email address" required><br>
            Phone<br>
            <input type="number" name="phone" size="100" placeholder="000-000-0000"  required><br>
            Address<br>
            <input type="text" name="address" size="100" placeholder="Enter your Address" required><br>
            City and Country<br>
            <input type="text" name="cityCountry" size="100" placeholder="Enter your City and Country" required><br>
            Church/Organization and Position<br>
            <input type="text" name="churchPosition" size="100" placeholder="Enter your Church and Position" required>
    
            <p class="form-group">Choose Your Association Group:</p>
            <input type="radio" name="chooseSem" value="April" class="placement" checked> InterChristiann International Association for Ministers<br><br>
            <input type="radio" name="chooseSem" value="August" class="placement" checked> InterChristian International Association for Pastors<br><br>
            <input type="radio" name="chooseSem" value="Nov" class="placement" checked> InterChristian International Association for Missionaries<br><br>
            <input type="radio" name="chooseSem" value="April" class="placement" checked> InterChristian International Association for Chaplains<br><br>
            <input type="radio" name="chooseSem" value="August" class="placement" checked> InterChristian International Association for Counselors<br><br>
            <input type="radio" name="chooseSem" value="Nov" class="placement" checked> InterChristian International Association for Leaders<br><br>
            <input type="radio" name="chooseSem" value="April" class="placement" checked> InterChristian International Association for Theologians<br><br>
            <input type="radio" name="chooseSem" value="August" class="placement" checked> InterChristian International Association for Missiologists<br><br>
            <input type="radio" name="chooseSem" value="Nov" class="placement" checked> InterChristian International Association for Evangelists
        
            <p class="form-group">International Delegates should upload a scanned copy of your passport and local delegates should upload government issued ID<br></p>
            <button type="file" class="btn btn-primary btn-sm">Choose File</button>
            <p>File must be 10MB or less<br></p>
            
            <p class="form-group">Please upload a digital phot taken in the last six months<br></p>
            
            <button type="file" class="btn btn-primary btn-sm">Choose File</button>
            <p class="form-group">File must be 10MB or less<br></p>
            
            <p class="form-group">Reference 1 Your Minister or Leader who knows you for the last five years.</p>
            
           <textarea rows="4" cols="50" name="ministerRef" required>
            </textarea>
            
            <p class="form-group">Reference 2 Your Neighbor who knows you for the last five years. *</p>
            
            <textarea rows="4" cols="50" name="neighborRef" required>
            </textarea>
            
            <p class="form-group">I understand and Agree: Check the Box</p>
            
            <label class="container"> I understand that InterChristian International Association
            Membership Fee of USD $52 is valid for one year from the date of registration and 
            it is non-refundable as it goes towards logistics and processing of my application. 
            I will send all the required documents to office@interchristian.org 
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label><br>
            
            
            <br>Click Donante Button above to Pay and Complete or Just click Submit to pay later:<br>
            <input type="text" name="click"  size="100" placeholder="You could pay $52 for one year or pay at the same rate for any number of years"><br>
            <br><button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form> 
    </div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        
    </body>
    <footer class="foot">
        <img src ="logo.png">
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "mailing">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
        </div>
        <div class = "phone">
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>