<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/care.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="care.css" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    </head>
    <body>
        <div class = container>
          <div class="navbar2">
            <div class="bigtitle">
            <a href="/home"><h1 class="bigtitle">InterChristian</h1></a>
            </div>
            
            <a href="/home" class="homebar">HOME</a>
            

        <div class="dropdown2">
            <a href="/about-us" class="dropbtn2">ABOUT US</a>
        <div class="dropdown-content2">
            <a href="/dreamteam">DREAMTEAM</a>
            <a href="/visionary">VISIONARY</a>
            <a href="/newspaper">NEWSPAPER</a>
            <a href="/center">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <a href="/memberships" class="dropbtn2">MEMBERSHIPS</a>
        <div class="dropdown-content2">
            <a href="/council">COUNCIL</a>
            <a href="/council-membership">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030">MINISTERS 2030</a>
            <a href="/leaders-2030">LEADERS 2030</a>
            <a href="/association">ASSOCIATION</a>
            <a href="/association-membership">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/initiatives" class="dropbtn2">INITIATIVES </a>
        <div class="dropdown-content2">
            <a href="/fellowship">FELLOWSHIP</a>
            <a href="/festivals">FESTIVALS</a>
            <a href="/small-groups">SMALL GROUPS</a>
            <a href="/seminars">SEMINARS</a>
            <a href="/seminars-registration">SEMINARS REGISTRATION</a>
            <a href="/seminary">SEMINARY</a>
            <a href="/institutes">INSTITUTES</a>
            <a href="/care">CARE</a>
            <a href="/build">BUILD</a>
            <a href="/lifeline">LIFELINE</a>
            <a href="/foodbank">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/contact-us" class="dropbtn2">CONTACT US</a>
        <div class="dropdown-content2">
            <a href="/donate501">DONATE 501C3</a>
            <a href="/yourprivacy">YOUR PRIVACY</a>
            <a href="/ourpolicies">OUR POLICIES</a>
            <a href="/join-email">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        
        
        </div> 
        <div class = "logo">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <h4 class = "tax">A 501c3 Tax Exempted Religious Organization</h4>
            <img src = "http://nebula.wsimg.com/2ef6cf8437299c8413d38fe35c5f6681?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
            <h4 class = "body-header">InterChristian Care</h4>
        </div>
            <div class = "body-container">
                <h1 class = "header2">Caring for the needs of under-privileged children, especially in developing countries</h1>
                <h2 class = "center">KidsCare 2020</h2>
                <p class = "text1">The founder and the CEO of the mission lost his Mother at the age of seven and depended on his relatives and church community for all his basic needs. He studied in government public school and in Seminary on scholarship. During his Christian ministry of 30 years, he visited several villages and sensed a strong need to raise support for the Kids living without basic needs. Now that he has established InterChristian International, he envisions to adopt 2020 under privileged Kids by the year 2020 through responsive agencies that are working at the grassroots level with a viable structure to implement holistic development program. We undertake to support the KidsCare program in Asian and African countries in next five years.</p>
                <p class = "text1">We invite every church and or every individual family to support a child on a regular basis. If you are interested in supporting a child, please contact the office of InterChristian Initiatives with their toll free number. Please sponsor a kid and be an agent of change in their life of a kid at a time and thus the world at the end.</p>
                <p class = "text1">With your monthly support of a dollar a day, the child will get their basic needs such as clean water, good health, food, clothing and education met who otherwise will have no way of surviving. You support will elevate the children from their poverty and give them a gift of life with all these basic needs met.</p>
                <h2 class ="center">EduCare 2020</h2>
                <p class = "text1">EduCare is a project to help the Students to study and reach the place of their dream in their life. InterChristian EduCare is raising and creating a support system to help the students not only to study locally but also to study globally. We try to fund, loan and aid the educational aspiration of the younger generation. This project mostly helps the Children in need especially in the developing countries.</p>
                <p class = "text1">InterChristian Initiatives is looking for partnering agencies to work locally to identify and impact the young children to have vision and achieve. The founder of this mission recollects his memory to say that he used to sit on the street and study with the light from the street light. A teacher in his high school used to collect the old book, the used second hand book from her relative and give it to him. This experience has not only impacted him but also has helped him to have a heart for those who are in such vulnerable situation in their life. So he has created the program EduCare 2020. The plan is to help 2020 students by 2020 to successfully be enrolled in the educational institution of their choice and move towards professional studies. He has helped nearly one hundred to go to USA for the purpose of education.</p>
                <h2 class = "center">JobCare 2020</h2>
                <p class = "text1">What a powerful way to take meaningful steps to leave the legacy of our life by helping the needy around us to find a better job. It is to help them to fish instead providing fish for them all the time. One of the Interchristian Initiatives is to identify the job seeker in any field and together explore the worldwide job opportunities.  We have been invited by the IT industry in the recent past to help them find employees with skills. If you or someone known to you are looking forward for employment, please send your resume. We are creating a data base of the companies and organization in need of skilled people. If you want to run a franchise of this business in your town and country, please contact us.</p>
                <h2 class = "franchise">Please contact the office of the InterChristian International in Princeton, New Jersey, USA for more details of our projects and programs.</h2>
            </div>
        </div>
    </body>
    <div class = "container">
        <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
        </footer>
    </div>
</html>
