<!DOCTYPE HTML>
<html>
    <body>
         <h1 class = "site title">InterChristian</h1>
        <nav>
            <a href = "/home.html/">Home</a>
            <div class="dropdown">
                <a href = "About.html">About</a>
                <div class="dropdown-content">
                    <a href="DreamTeam.html">DreamTeam</a>
                    <a href="Visionary.html">Visionary</a>
                    <a href="Newspaper.html">Newspaper</a>
                    <a href = "Center.html">Center</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/memberships.html/">Memberships</a>
                <div class = "dropdown-content">\
                    <a href = "Council.html">Council</a>
                    <a href = "CouncilMembership.html">Council Membership</a>
                    <a href = "Ministers.html">Ministers 2030</a>
                    <a href = "Leaders.html">Leaders 2030</a>
                    <a href = "Association.html">Association</a>
                    <a href = "AssociationMembership.html">Association Membership</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/initiatives.html/">Initiatives</a>
                <div class ="dropdown-content">
                    <a href = "Fellowship.html">Fellowship</a>
                    <a href = "Festivals.html">Festivals</a>
                    <a href = "Small%20Groups.html">Small Groups</a>
                    <a href = "Seminars.html">Seminars</a>
                    <a href = "Seminary.html">Seminary</a>
                    <a href = "Institutes.html">Institutes</a>
                    <a href = "Care.html">Care</a>
                    <a href = "Build.html">Build</a>
                    <a href = "Lifeline.html">Lifeline</a>
                    <a href = "FoodBank.html">FoodBank</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/contact-us.html/">Contact Us</a>
                <div class = "dropdown-content">
                    <a href = "Donate.html">Donate 501C3</a>
                    <a href = "Privacy.html">Your Privacy</a>
                    <a href = "Policies.html">Our Policies</a>
                    <a href = "Email.html">Join Emails</a>
                </div>
            </div>
        </nav>
        <h1 class = "header">Initiatives International</h1>
        <h2 class = "subheader">A Membership Movement United To Serve</h2>
        <h1 class = "page title">Contact Us</h1>
        <h1 class = "body header">We want to hear from you</h1>
        <p>Dear Friends</p>
        <p>Thank you for taking time to visit our website. Please stay in touch with us. Whatever "it" is, we want to hear it. Whether 
        you need more information on our Initiatives and Services, want us to reach out to your Church and Community, please feel free 
        to write few lines and hit the submit button at the bottom, one of us will be able to call you or email you.</p>
        <p>Paul Rajan</p>
        <p>CEO</p>
        <p>InterChristian International</p>
        <form>
            <input id="formData" type="text" name="Name" require placeholder = "Name"/>
            <input id="formData" type="text" name="Email" require placeholder = "Email"/>
            <input id="formData" type="text" name="Subject" require placeholder = "Subect"/>
            <input id="formData" type="textarea" name="Message" require placeholder = "Message"/>
            <div>
                <input type="submit" value="Submit"/>
            </div>
            
        </form>
    </body>
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>