<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/dreamteam.css">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    </head>
    <body>
        <div class = container>
          <div class="navbar2">
            <div class="bigtitle">
            <a href="/home"><h1 class="bigtitle">InterChristian</h1></a>
            </div>
            
            <a href="/home" class="homebar">HOME</a>
            

        <div class="dropdown2">
            <a href="/about-us" class="dropbtn2">ABOUT US</a>
        <div class="dropdown-content2">
            <a href="/dreamteam">DREAMTEAM</a>
            <a href="/visionary">VISIONARY</a>
            <a href="/newspaper">NEWSPAPER</a>
            <a href="/center">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <a href="/memberships" class="dropbtn2">MEMBERSHIPS</a>
        <div class="dropdown-content2">
            <a href="/council">COUNCIL</a>
            <a href="/council-membership">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030">MINISTERS 2030</a>
            <a href="/leaders-2030">LEADERS 2030</a>
            <a href="/association">ASSOCIATION</a>
            <a href="/association-membership">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/initiatives" class="dropbtn2">INITIATIVES </a>
        <div class="dropdown-content2">
            <a href="/fellowship">FELLOWSHIP</a>
            <a href="/festivals">FESTIVALS</a>
            <a href="/small-groups">SMALL GROUPS</a>
            <a href="/seminars">SEMINARS</a>
            <a href="/seminars-registration">SEMINNARS REGISTRATION</a>
            <a href="/seminary">SEMINARY</a>
            <a href="/institutes">INSTITUTES</a>
            <a href="/care">CARE</a>
            <a href="/build">BUILD</a>
            <a href="/lifeline">LIFELINE</a>
            <a href="/foodbank">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/contact-us" class="dropbtn2">CONTACT US</a>
        <div class="dropdown-content2">
            <a href="/donate501">DONATE 501C3</a>
            <a href="/yourprivacy">YOUR PRIVACY</a>
            <a href="/ourpolicies">OUR POLICIES</a>
            <a href="/join-email">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        
        
        </div>  
        <div class = "logo">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <h4 class = "tax">A 501c3 Tax Exempted Religious Organization</h4>
            <img src = "http://nebula.wsimg.com/2ef6cf8437299c8413d38fe35c5f6681?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
            <h4 class = "body-header">InterChristian DreamTeam</h4>
        </div>
        <div class = "body-container">
        <h1 class = "header2">Our dream will not die if we envision and make it a mission.</h1>
        <p class = "body">We are looking for you and your group or congregation to join INTERCHRISTIAN DREAM TEAM and be part of this worldwide movement with your Prayers, Participation and Partnership. You could volunteer from wherever you are, with whatever you have and do whatever you can. Joining with the Dream Team will add to your strength. Your time, energy, efforts, expertise to the cause of united efforts will enhance and speed up the transformative work of the Gospel and to fulfill the great commission.</p>
        <div class = "grid">
            <div class = "header-1">
                <img src = "http://nebula.wsimg.com/0c3bfa08f92450b495dacf902f29c5ec?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
                <h3>Bishop Dr. Ebony G. Kirkland</h3>
            </div>
            <div class = "header-2">
                <img src = "http://nebula.wsimg.com/2320eec2c7b12b22dd01b55dd0160a65?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
                <h3>The Rev. Dr. Mark D. Isaacs</h3>
            </div>
            <div class = "header-3">
                <img src = "http://nebula.wsimg.com/e23c98d512aded51199eb12fc809e440?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
                <h3>Tinto J Thomas Thomas</h3>
            </div>
            <div class = "header-4">
                <img src = "http://nebula.wsimg.com/220c8d786edab64d5416d43f0e1037e3?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
                <h3>Sudha G. Rajan</h3>
            </div>
        </div>
        <div class = "grid2">
                <div class = "body-1">
                    <p>Founder, President of Ebony Marketing Research, Inc. Worldwide Association of Small Churches and Living God Ministries NY. Among several other leadership roles in the community her passion to take the gospel to the last men has connected InterChristian Initiatives</p>
                </div>
                <div class = "body-2">
                    <p>Pastor of St. Paul's Lutheran Church of Wurtemburg, Rhinebeck, NY, Theological Educator, Writer, Editor, Counselor and Leader. His deeper passion for teaching the infallible Bible and his experience in teaching in India has connected InterChristian Initiatives.</p>
                </div>
                <div class = "body-3">
                    <p>An Engineer, Entrepreneur, one of the founders of T&S Builders NJ, Organist and Choir Director. His Laity Leadership in Anglican Church of South Indian NY, deeper understanding of World mission, passion for revival in the contemporary youths have connected InterChristian Initiatives.</p>
                </div>
                <div class = "body-4">
                    <p>An organizational strategist, natural leader with a pastoral heart having worked in the administrative and HR department of Christian Mission for more than two decades shares her wealth of experience with her husband the Visionary of InterChristian Initiatives.</p>
                </div>
        </div>
        </div>
            </div>
    </body>
    <div class = "container">
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
    </div>
</html>
