<!DOCTYPE HTML>
<html>
        <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="festivals.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    </head>
    <body>
        <div class = container>
         <div class="navbar2">
            <div class="bigtitle">
                <a href="/home"><h1 class="bigtitle"><strong>InterChristian</strong></h1></a>
            </div>
            <a href="/home" class="homebar">HOME</a>
        <div class="dropdown2">
        <button class="dropbtn2">ABOUT US 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/dreamteam">DREAMTEAM</a>
            <a href="/visionary">VISIONARY</a>
            <a href="/newspaper">NEWSPAPER</a>
            <a href="/center">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">MEMBERSHIPS 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/council">COUNCIL</a>
            <a href="#">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030">MINISTERS 2030</a>
            <a href="/leaders-2030">LEADERS 2030</a>
            <a href="/association">ASSOCIATION</a>
            <a href="#">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <button class="dropbtn2">INITIATIVES 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/fellowship">FELLOWSHIP</a>
            <a href="/festivals">FESTIVALS</a>
            <a href="/small-groups">SMALL GROUPS</a>
            <a href="/seminars">SEMINARS</a>
            <a href="seminarsregistration">SEMINARS REGISTRATION</a>
            <a href="/seminary">SEMINARY</a>
            <a href="/institutes">INSTITUTES</a>
            <a href="/care">CARE</a>
            <a href="/build">BUILD</a>
            <a href="/lifeline">LIFELINE</a>
            <a href="/foodbank">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <button class="dropbtn2">CONTACT US 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/donate501">DONATE 501C3</a>
            <a href="/yourprivacy">YOUR PRIVACY</a>
            <a href="/ourpolicies">OUR POLICIES</a>
            <a href="/join-email">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        </div>
        <div class = "logo">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <h4 class = "tax">A 501c3 Tax Exempted Religious Organization</h4>
            <img src = "http://nebula.wsimg.com/2ef6cf8437299c8413d38fe35c5f6681?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
            <h4 class = "body-header">InterChristian Festival</h4>
        </div>
            <div class = "body-container">
                <h1 class = "header2">Celebrating the oneness of diversity.</h1>
                <div class = "grid">
                    <div class = "header-1">
                        <center><img src = "http://nebula.wsimg.com/4de1425e7318d07ee7168a718a8cdf62?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1"></center>
                    </div>
                    <div class = "header-2">
                        <center><img src = "http://nebula.wsimg.com/a93c89d02d24d1ef7890e846cea2eb1d?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1"></center>
                    </div>
                    <div class = "header-3">
                        <center><img src = "http://nebula.wsimg.com/2e2ba76bcd87a097c4ad472e11d002aa?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1"></center>
                    </div>
                    <div class = "header-4">
                    <center><img src = "http://nebula.wsimg.com/aa6d8d655b27ebb10b89ccb9cf3c90ba?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1"></center>
                    </div>
                </div>
                <div class = "grid2">
                    <center>
                        <img src = "http://nebula.wsimg.com/8ff89129e963337f1c3cda4ef6e22a40?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
                    </center>
                    <center>
                        <img src = "http://nebula.wsimg.com/4060aab12bb776c461aa40832c71a567?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
                    </center>
                    <center>
                        <img src = "http://nebula.wsimg.com/935698872524cf92f5b596f5a5dd1e65?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
                    </center>   
                </div>
                <p class = "body"><em>"Therefore said he unto them, the harvest truly is great, but the labourers are few: pray ye therefore the Lord of the harvest, that he would send forth labourers into his harvest".</em>
                <p class = "verse">Luke 10:2</p>
        <p class = "body">As per these words of Lord Jesus Christ the harvest is plentiful in those days and even today, the laborers are few in those days and even today. But if we compare the population then and now, todays population is thousands of times more. There are certainly not enough laborers. Moreover, the great commission is given for everybody to love and serve the people. Therefore, The InterChristian International has initiated several educational initiatives in order to teach life based, application based and skills based program in the Churches.</p>
        <p class = "body">Topics on InterChristian Seminars include in the category of Contemporary Issues, Christian Leadership, Community Leadership, Multi-Cultural Communication, Christian Life, Management, Marriage, Relationship, Seminar on various ministries in the Churches and Pastoral Skills based courses.</p>
        <p class = "body">These Seminars are organized interdenominationally and nondenominationally. The Seminar could be organized from for either three days or three hours. It could also be organized for either seven hours or seven days. Though there is no fee involved for the seminar we do encourage every participant and the organizing body to contribute towards the self-supporting efforts and growth of the mission.</p>
        <p class = "body">The founder of the mission is a clinical pastoral educator and involved in various teaching aspects of the ministries for the past thirty years. Once we receive a request to run a seminar in your group or church we would identify an expert in the field of your request and depute to run the course in your vicinity. Please contact the office of the InterChristian International.</p>
        <h3 class = "franchise">Please write an email to our office@interchristian.org to know the schedule for the upcoming Seminars</h3>
        <h2 class = "center">InterChristian International Seminar on Pastoral Care and Visitation Ministry based on Clinical Pastoral Education</h2>
        <h3 class = "franchise">Please write to festival@interchristian.org for more details and to book your seat.</h3>
            </div>
        </div>
    </body>
    <div class = "container">
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
    </div>
</html>
