<!DOCTYPE HTML>
<html>
    <head>
        <style>
            .redtext {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1 class = "site title">InterChristian</h1>
        <nav>
            <a href = "/home.html/">Home</a>
            <div class="dropdown">
                <a href = "About.html">About</a>
                <div class="dropdown-content">
                    <a href="DreamTeam.html">DreamTeam</a>
                    <a href="Visionary.html">Visionary</a>
                    <a href="Newspaper.html">Newspaper</a>
                    <a href = "Center.html">Center</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/memberships.html/">Memberships</a>
                <div class = "dropdown-content">\
                    <a href = "Council.html">Council</a>
                    <a href = "CouncilMembership.html">Council Membership</a>
                    <a href = "Ministers.html">Ministers 2030</a>
                    <a href = "Leaders.html">Leaders 2030</a>
                    <a href = "Association.html">Association</a>
                    <a href = "AssociationMembership.html">Association Membership</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/initiatives.html/">Initiatives</a>
                <div class ="dropdown-content">
                    <a href = "Fellowship.html">Fellowship</a>
                    <a href = "Festivals.html">Festivals</a>
                    <a href = "Small%20Groups.html">Small Groups</a>
                    <a href = "Seminars.html">Seminars</a>
                    <a href = "Seminary.html">Seminary</a>
                    <a href = "Institutes.html">Institutes</a>
                    <a href = "Care.html">Care</a>
                    <a href = "Build.html">Build</a>
                    <a href = "Lifeline.html">Lifeline</a>
                    <a href = "FoodBank.html">FoodBank</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/contact-us.html/">Contact Us</a>
                <div class = "dropdown-content">
                    <a href = "Donate.html">Donate 501C3</a>
                    <a href = "Privacy.html">Your Privacy</a>
                    <a href = "Policies.html">Our Policies</a>
                    <a href = "Email.html">Join Emails</a>
                </div>
            </div>
        </nav>
        <h1 class = "header">Initiatives International</h1>
        <h2 class = "subheader">A Membership Movement United To Serve</h2>
        <p>A 501c3 Tax Exempted Religious Organization</p>
        <h1 class = "page title">InterChristian FoodBank</h1>
        <h1 class = "body header">Caring the needs of the under privileged locally and globally especially in developing countries</h1>
        <img src = "foodbank1.jpg">
        <img src = "foodbank2.jpg">
        <h2 class="redtext">InterChristian FoodBank</h2>
        <p>The founder and the CEO of the mission lost his Mother at the age of seven and depended on his relatives and church community for all his basic needs. He studied in government public school and in Seminary on scholarship. During his Christian ministry of 30 years, he visited several villages and sensed a strong need to raise support for the Kids living without basic needs. Now that he has established InterChristian International, he envisions to help the families in need of food and basic needs.</p>
        
        <p>We invite every church and or every individual family to support a child on a regular basis. If you are interested in donating non perishable food, please contact the office of InterChristian Initiatives with their toll free number.</p>
        
        <p>We involved in With your monthly support of a dollar a day, the child will get their basic needs such as clean water, good health, food, clothing and education met who otherwise will have no way of surviving. You support will elevate the children from their poverty and give them a gift of life with all these basic needs met.
        </p>
        
        <p>The above photos shows that we have involved in generating food and other medical stuff and send it to the Tsunami Victims in India and Sri Lanka.</p>
        
        <p>If you would like to coordinate to collect nonperishable food items please contact us. There are always migrant communities and local residents in need of food.</p>
        
        <h5>Please contact the office of the InterChristian International in Princeton, New Jersey, USA for more details of our projects and programs.</h5>
    </body>
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>