<!DOCTYPE HTML>
<html>
     <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/membership.css">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    </head>
    <body>
        <div class = container>
         <div class="navbar2">
            <div class="bigtitle">
                <a href="/home"><h1 class="bigtitle"><strong>InterChristian</strong></h1></a>
            </div>
            <a href="/home" class="homebar">HOME</a>
        <div class="dropdown2">
        <button class="dropbtn2">ABOUT US 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/dreamteam">DREAMTEAM</a>
            <a href="/visionary">VISIONARY</a>
            <a href="/newspaper">NEWSPAPER</a>
            <a href="/center">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">MEMBERSHIPS 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/council">COUNCIL</a>
            <a href="#">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030">MINISTERS 2030</a>
            <a href="/leaders-2030">LEADERS 2030</a>
            <a href="/association">ASSOCIATION</a>
            <a href="#">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <button class="dropbtn2">INITIATIVES 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/fellowship">FELLOWSHIP</a>
            <a href="/festivals">FESTIVALS</a>
            <a href="/small-groups">SMALL GROUPS</a>
            <a href="/seminars">SEMINARS</a>
            <a href="seminarsregistration">SEMINARS REGISTRATION</a>
            <a href="/seminary">SEMINARY</a>
            <a href="/institutes">INSTITUTES</a>
            <a href="/care">CARE</a>
            <a href="/build">BUILD</a>
            <a href="/lifeline">LIFELINE</a>
            <a href="/foodbank">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <button class="dropbtn2">CONTACT US 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content2">
            <a href="/donate501">DONATE 501C3</a>
            <a href="/yourprivacy">YOUR PRIVACY</a>
            <a href="/ourpolicies">OUR POLICIES</a>
            <a href="/join-email">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        </div>
        <div class = "logo">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <h4 class = "tax">A 501c3 Tax Exempted Religious Organization</h4>
            <img src = "http://nebula.wsimg.com/2ef6cf8437299c8413d38fe35c5f6681?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
            <h4 class = "body-header">Membership Initiatives</h4>
        </div>
            <div class = "body-container">
                <h1 class = "header2">"That all of them may be one" is the Longings of Jesus and it is the vision of this mission. </h1>
                <h5 class = "center">InterChristian Society</h5>
        <p class = "body">"That all of them may be one, Father, just as you are in me and I am in you. May they also be in us so that the world may believe that you have sent me".  John 17:21</p>
        <p class = "body">As per these prayer of Lord Jesus Christ "That all of them may be one, Father, just as you are in me and I am in you. May they also be in us so that the world may believe that you have sent me" this initiative is taken up to coordinate the missional activities of the believers community. Again His words "harvest is plentiful but the laborers are few" is true in those days and even today. But if we compare the population then and now, today's population is thousands of times more. There are certainly not enough laborers. Moreover, the great commission is given for everybody to love and serve the people. Therefore, The InterChristian International has initiated several educational initiatives in order to teach life based, application based and skills based program.</p>
        <p class = "body">We organize several programs that will bring the believers community to realize that we need to be united in serving the world in need of peace, love, joy and salvation. These programs are aimed at wellbeing and vitality of the spiritual community.</p>
        <h5 class = "center">Empowerment of Small Groups to become a powerful Society</h5>
        <p class = "body">InterChristian International is organizing small groups to function as self-help group and moves on to organize Council, Association, Consortium, Federation, Alliance and Society as per the need of the community that we work with. We invite you to stay in touch with us to work together on building network among your community of congregants and professionals.</p>
        <p class = "body">We would like to meet you if you will be interested in conducting a monthly non denominational fellowship or weekly small group in your homes. The society could become stronger with many small groups.</p>
        <h6 class = "franchise">Please write an email to our office@interchristian.org to join InterChristian Society.</h6>
            </div>
        </div>
    </body>
    <div class = "container">
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
    </div>
</html>
