<!DOCTYPE HTML>
<html>
    <body>
         <h1 class = "site title">InterChristian</h1>
        <nav>
            <a href = "/home.html/">Home</a>
            <div class="dropdown">
                <a href = "About.html">About</a>
                <div class="dropdown-content">
                    <a href="DreamTeam.html">DreamTeam</a>
                    <a href="Visionary.html">Visionary</a>
                    <a href="Newspaper.html">Newspaper</a>
                    <a href = "Center.html">Center</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/memberships.html/">Memberships</a>
                <div class = "dropdown-content">\
                    <a href = "Council.html">Council</a>
                    <a href = "CouncilMembership.html">Council Membership</a>
                    <a href = "Ministers.html">Ministers 2030</a>
                    <a href = "Leaders.html">Leaders 2030</a>
                    <a href = "Association.html">Association</a>
                    <a href = "AssociationMembership.html">Association Membership</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/initiatives.html/">Initiatives</a>
                <div class ="dropdown-content">
                    <a href = "Fellowship.html">Fellowship</a>
                    <a href = "Festivals.html">Festivals</a>
                    <a href = "Small%20Groups.html">Small Groups</a>
                    <a href = "Seminars.html">Seminars</a>
                    <a href = "Seminary.html">Seminary</a>
                    <a href = "Institutes.html">Institutes</a>
                    <a href = "Care.html">Care</a>
                    <a href = "Build.html">Build</a>
                    <a href = "Lifeline.html">Lifeline</a>
                    <a href = "FoodBank.html">FoodBank</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/contact-us.html/">Contact Us</a>
                <div class = "dropdown-content">
                    <a href = "Donate.html">Donate 501C3</a>
                    <a href = "Privacy.html">Your Privacy</a>
                    <a href = "Policies.html">Our Policies</a>
                    <a href = "Email.html">Join Emails</a>
                </div>
            </div>
        </nav>
        <h1 class = "header">Initiatives International</h1>
        <h2 class = "subheader">A Membership Movement United To Serve</h2>
        <h1 class = "page title">InterChristian Ministers 2030</h1>
        <h1 class = "body header">The need for harvest is plentiful NOW than ever before.</h1>
        <h4>InterChristian Ministers 2030</h4>
        <p>What a powerful way to take meaningful steps to leave the legacy of our faith and our church to our next generation.  God made all of us righteous through the atonement work of Lord Jesus Christ and by our faith.  The Holy Spirit continue to help us to grow through scripture. We are the Body of Christ and have received the great commission to proclaim Christ. God gave the Church, you and me, the mission of preaching the good news.  The world, how can they hear without someone preaching to them? Rom 10:14</p>
        <p>As per a research data, nearly 3000 churches are closed in US alone every year and losses around 3 million Congregants.  The basic reason found to be the loss of evangelistic vision and shortage of Christian Workers. The demand in this century for the church is not only to survive but also and initiate missional activities to reach the 6.600+ unreached people groups around the world. InterChristian International is committed to work with each and every church to raise 2030 youngsters by AD 2030 and send them to Bible Schools in different parts of the World. This greatest challenge needs to be addressed unanimously.</p>
        <p>“I lived a life as it pleased me and Rev. Paul Rajan CEO of InterChristian International, helped me to realize that I have a calling and gave me an opportunity to study in a seminary in New York, otherwise by now I would have gone to prison” said by a current seminarian. We need thousands of Pastors, Bible Teachers and Missionaries to pass on the Christian faith to next generation in a contextualized way. Will you support at least one student for the future ministry.</p>
    </body>
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>
