<!DOCTYPE HTML>
<html>
    <body>
         <h1 class = "site title">InterChristian</h1>
        <nav>
            <a href = "/home.html/">Home</a>
            <div class="dropdown">
                <a href = "About.html">About</a>
                <div class="dropdown-content">
                    <a href="DreamTeam.html">DreamTeam</a>
                    <a href="Visionary.html">Visionary</a>
                    <a href="Newspaper.html">Newspaper</a>
                    <a href = "Center.html">Center</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/memberships.html/">Memberships</a>
                <div class = "dropdown-content">\
                    <a href = "Council.html">Council</a>
                    <a href = "CouncilMembership.html">Council Membership</a>
                    <a href = "Ministers.html">Ministers 2030</a>
                    <a href = "Leaders.html">Leaders 2030</a>
                    <a href = "Association.html">Association</a>
                    <a href = "AssociationMembership.html">Association Membership</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/initiatives.html/">Initiatives</a>
                <div class ="dropdown-content">
                    <a href = "Fellowship.html">Fellowship</a>
                    <a href = "Festivals.html">Festivals</a>
                    <a href = "Small%20Groups.html">Small Groups</a>
                    <a href = "Seminars.html">Seminars</a>
                    <a href = "Seminary.html">Seminary</a>
                    <a href = "Institutes.html">Institutes</a>
                    <a href = "Care.html">Care</a>
                    <a href = "Build.html">Build</a>
                    <a href = "Lifeline.html">Lifeline</a>
                    <a href = "FoodBank.html">FoodBank</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/contact-us.html/">Contact Us</a>
                <div class = "dropdown-content">
                    <a href = "Donate.html">Donate 501C3</a>
                    <a href = "Privacy.html">Your Privacy</a>
                    <a href = "Policies.html">Our Policies</a>
                    <a href = "Email.html">Join Emails</a>
                </div>
            </div>
        </nav>
        <h1 class = "header">Initiatives International</h1>
        <h2 class = "subheader">A Membership Movement United To Serve</h2>
        <h1 class = "page title">InterChristian Newspaper</h1>
        <h1 class = "body header">An initiative that invites us to think globall and locally.</h1>
        <h3>InterChristian Times</h3>
        <p>INTERCHRISTIAN INTERNATIONAL A NONPROFIT IN PRINCETON LAUNCHES A TABLOID EXCLUSIVELY FOR CHURCHES, SEMINARIES, NGOs AND MISSIONS</p>
        <p>To begin with we are geared up to publish a monthly Christian tabloid from the month of January 2016.</p>
        <p>InterChristian Times will serve as a vehicle of communication among Christians, Churches, Missions, Seminaries and Institutions inter-denominationally and non-denominationally. The tabloid not only will communicate international news of Christianity, it will also promote various products and services of mainline business industries and institutions. We encourage you, your group, your businesses, Church, and your entities to make use of this tabloid to reach the Christendom locally and globally.</p>
        <p>The tabloid is of standard size in multi-color such as The Wall Street Journal, will be posted on the first of every month to subscribing Individuals and Institutions including Churches. Please advertise your services and business in order to tab our captured audience in US. We are looking at franchising the other national editions to various other countries. Please contact us if you would like to run this Christian News Paper in your county, city and country.</p>
        <p>The prices for advertisements are very cheap comparing to any other tabloid in the country as this has the highest readers among the captured community. You pay only 99 cents per word for classifieds. We can advertise classified of any nature including Prayers, Thanksgiving, Obituaries, Matrimonial, Services, Wanted, Birthday Wish, Anniversary Wish, Wanted, Selling, Buying, Rent, Auto, Garage Sale, Notices, Carriers, Opportunities, Travel, Friendship, etc.</p>
        <p>We encourage your churches to involve Sunday school children in our Biblical Arts Contest and the selected poem, drawing or story will be published in the coming forth InterChristian Times issues along with the name of the student and the Church.</p>
        <p>We invite testimonies, news, articles from the adults and young adults. We look for Christian professionals in the field of Education, Medicine, IT, Science, Counseling, Theology, Accounts, Human Services, Social Services and many other fields to contribute by their writings.</p>
        <ul>
            <li>Articles, news from Church Leaders, Bishops, Theologians and Christian Believers from around the World.</li>
            <li>It is an attempt to network towards the benefit of  the entire Christian Community.</li>
            <li>Wide range of Advertisement from classified to inserts including, Matrimonial, Obituaries, Prayers answered etc.</li>
            <li>Circulations reaches more than 1500 Churches, Christian Families and Businesses with a projected 40 thousand viewers and more.Please contact the editor@interchristian.org for more information.</li>
            <li>InterChristian International invites the entire Christian Church Body to involve and to work together believing “We’re all in this together literally” in order to make a difference in the world. It is time to come together and work together.</li>
        </ul>
        <p>We invite the business community to partner with us in networking and facilitating the united efforts of InterChristian Initiatives for the benefit of the wider Christian Community and Churches. InterChristian Times is our vehicle to connect the entire Christianity irrespective of denominational and ethnic background. It is circulated predominantly in tri-state area, 20 percent is sent to other states.</p>
        <p><strong>Advertisements:</strong>All sizes Ads are accepted. The rate for regular pages are calculated at the rate of $20 per square inch. Premium Position Ads at the Front and Back page out side is calculated at the rate of $28 per square inch and inside is calculated at the rate of $24 per square inch. Payment is to be made in favour of “InterChristian” prior to the date of printing. Discounts are given for more than one time advertisement.</p>
        <p><strong>Please contact the office of the InterChristian International for more projects and programs and details for Franchising our news paper in your town.</strong></p>
        <h6 class = "franchise">InterChristian Times is available for Franchise to run in your town locally and collaboratively with other Franchise owners of other towns and countries.</h6>
    </body>
     <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>
