<!DOCTYPE HTML>
<html>
    <head>
        <style>
            .redtext {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1 class = "site title">InterChristian</h1>
        <nav>
            <a href = "/home.html/">Home</a>
            <div class="dropdown">
                <a href = "About.html">About</a>
                <div class="dropdown-content">
                    <a href="DreamTeam.html">DreamTeam</a>
                    <a href="Visionary.html">Visionary</a>
                    <a href="Newspaper.html">Newspaper</a>
                    <a href = "Center.html">Center</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/memberships.html/">Memberships</a>
                <div class = "dropdown-content">\
                    <a href = "Council.html">Council</a>
                    <a href = "CouncilMembership.html">Council Membership</a>
                    <a href = "Ministers.html">Ministers 2030</a>
                    <a href = "Leaders.html">Leaders 2030</a>
                    <a href = "Association.html">Association</a>
                    <a href = "AssociationMembership.html">Association Membership</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/initiatives.html/">Initiatives</a>
                <div class ="dropdown-content">
                    <a href = "Fellowship.html">Fellowship</a>
                    <a href = "Festivals.html">Festivals</a>
                    <a href = "Small%20Groups.html">Small Groups</a>
                    <a href = "Seminars.html">Seminars</a>
                    <a href = "Seminary.html">Seminary</a>
                    <a href = "Institutes.html">Institutes</a>
                    <a href = "Care.html">Care</a>
                    <a href = "Build.html">Build</a>
                    <a href = "Lifeline.html">Lifeline</a>
                    <a href = "FoodBank.html">FoodBank</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/contact-us.html/">Contact Us</a>
                <div class = "dropdown-content">
                    <a href = "Donate.html">Donate 501C3</a>
                    <a href = "Privacy.html">Your Privacy</a>
                    <a href = "Policies.html">Our Policies</a>
                    <a href = "Email.html">Join Emails</a>
                </div>
            </div>
        </nav>
        <h1 class = "header">Initiatives International</h1>
        <h2 class = "subheader">A Membership Movement United To Serve</h2>
        <p>A 501c3 Tax Exempted Religious Organization</p>
        <h1 class = "page title">InterChristian Seminary</h1>
        <h1 class = "body header">"The harvest is plentiful but the workers are few. Ask the Lord of the harvest, therefore, to send out workers into his harvest field".</h1>
     
        
        <h4 class="redtext">InterChristian Seminars</h4>
        
        <p>"Therefore said he unto them, the harvest truly is great, but the labourers are few: pray ye therefore the Lord of the harvest, that he would send forth labourers into his harvest". Luke 10:2
        </p>
        
        <p>As per these words of Lord Jesus Christ the harvest is plentiful in those days and even today, the laborers are few in those days and even today. But if we compare the population then and now, todays population is thousands of times more. There are certainly not enough laborers. Moreover, the great commission is given for everybody to love and serve the people. Therefore, The InterChristian International has initiated several educational initiatives in order to teach life based, application based and skills based program in the Churches.
        </p>
        
        
        <p>InterChristian Seminary is one of the big plan of InterChristian Initiatives to train full time Pastors, Missionaries, Counsellors, Pastoral Clinicians and Pastoral Educators at an affordable student loans and scholarships. According to the dictionary meaning the word seminary is a school, especially one where people train to be religious leaders. The word Seminary comes from the Latin word seminarium, meaning "plant nursery," which can be interpreted as, "breeding ground." According to the longings of Jesus Christ there has to be more laborers needed to be breeded. 
        </p>
        
        <p>InterChristian Seminary will offer Mastors and Doctoral program in Ministry in a flexible but as a practice oriented program. Masters Degree could be done in four semesters and Doctoral Degree in four semesters.
        </p>
        
        <p>With the advancement in technology we foresee to offer these degrees in your place of domicile and invite you to attend the seminars in a foreign country with clinical experience.</p>
        
    
        <h5>Please write an email to our office@interchristian.org to know the schedule for the upcoming Seminars</h5>
    </body>
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>