<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="styling.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/forms.css">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    </head>
    <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
    <body>
     <div class = "container">
        <div class="navbar2">
            <div class="bigtitle">
            <a href="/home"><h1 class="bigtitle">InterChristian</h1></a>
            </div>
            <a href="/home" class="homebar">HOME</a>
        <div class="dropdown2">
            <a href="/about-us" class="dropbtn2">ABOUT US</a>
        <div class="dropdown-content2">
            <a href="/dreamteam">DREAMTEAM</a>
            <a href="/visionary">VISIONARY</a>
            <a href="/newspaper">NEWSPAPER</a>
            <a href="/center">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <a href="/memberships" class="dropbtn2">MEMBERSHIPS</a>
        <div class="dropdown-content2">
            <a href="/council">COUNCIL</a>
            <a href="/council-membership">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030">MINISTERS 2030</a>
            <a href="/leaders-2030">LEADERS 2030</a>
            <a href="/association">ASSOCIATION</a>
            <a href="/association-membership">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/initiatives" class="dropbtn2">INITIATIVES </a>
        <div class="dropdown-content2">
            <a href="/fellowship">FELLOWSHIP</a>
            <a href="/festivals">FESTIVALS</a>
            <a href="/small-groups">SMALL GROUPS</a>
            <a href="/seminars">SEMINARS</a>
            <a href="/seminars-registration">SEMINARS REGISTRATION</a>
            <a href="/seminary">SEMINARY</a>
            <a href="/institutes">INSTITUTES</a>
            <a href="/care">CARE</a>
            <a href="/build">BUILD</a>
            <a href="/lifeline">LIFELINE</a>
            <a href="/foodbank">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/contact-us" class="dropbtn2">CONTACT US</a>
        <div class="dropdown-content2">
            <a href="/donate501">DONATE 501C3</a>
            <a href="/yourprivacy">YOUR PRIVACY</a>
            <a href="/ourpolicies">OUR POLICIES</a>
            <a href="/join-email">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        </div> 
        <div class="container-fluid">
        <div class = "logo">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <h4 class = "tax">A 501c3 Tax Exempted Religious Organization</h4>
            <img src = "http://nebula.wsimg.com/2ef6cf8437299c8413d38fe35c5f6681?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
            <h4 class = "body-header">Seminars Registration Form</h4>
        </div>
            <div class = "body-container">
         <div id="mc_embed_signup">
<form action="https://interchristian.us18.list-manage.com/subscribe/post?u=5594aa50e3abdaaad26b6db6f&amp;id=f0b2a51c5c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE5">Church and Position  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE5" class="required" id="mce-MMERGE5">
</div>
<div class="mc-field-group input-group">
    <strong>Choose a Seminar  <span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="April 3-6, 2018: Seminar on Small Group Ministry inside and outside the Church" name="MMERGE6" id="mce-MMERGE6-0"><label for="mce-MMERGE6-0">April 3-6, 2018: Seminar on Small Group Ministry inside and outside the Church</label></li>
<li><input type="radio" value="August 21-24, 2018: Seminar on Congregational Development and Community Care" name="MMERGE6" id="mce-MMERGE6-1"><label for="mce-MMERGE6-1">August 21-24, 2018: Seminar on Congregational Development and Community Care</label></li>
<li><input type="radio" value="November 6-9, 2018: Seminar on Chaplaincy based on Clinical Pastoral Education" name="MMERGE6" id="mce-MMERGE6-2"><label for="mce-MMERGE6-2">November 6-9, 2018: Seminar on Chaplaincy based on Clinical Pastoral Education</label></li>
</ul>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE7">Goverment Id(Passport for International delegates)  <span class="asterisk">*</span>
</label>
	<input type="url" value="" name="MMERGE7" class="required url" id="mce-MMERGE7">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE8">Photo  <span class="asterisk">*</span>
</label>
	<input type="url" value="" name="MMERGE8" class="required url" id="mce-MMERGE8">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE9">Reference your Minister  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE9" class="required" id="mce-MMERGE9">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE10">Reference two Neighbors  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="MMERGE10" class="required" id="mce-MMERGE10">
</div>
<div class="mc-field-group input-group">
    <strong>Terms and conditions </strong>
    <ul><li><input type="checkbox" value="1" name="group[2251][1]" id="mce-group[2251]-2251-0"><label for="mce-group[2251]-2251-0">I understand and agree that registration fee for each Seminar is USD $200 for local and internationa</label></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5594aa50e3abdaaad26b6db6f_f0b2a51c5c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='radio';fnames[7]='MMERGE7';ftypes[7]='imageurl';fnames[8]='MMERGE8';ftypes[8]='imageurl';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
    </div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        </div>
        </div>
    </body>
    <div class = "container">
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "mailing">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
        </div>
        <div class = "phone">
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
    </div>
</html>