<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/seminars.css">
        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    </head>
        <style>
            .redtext {
                color: red;
            }
        </style>
    <body>
        <h1 class = "site title">InterChristian</h1>
        <nav>
            <a href = "/home.html/">Home</a>
            <div class="dropdown">
                <a href = "About.html">About</a>
                <div class="dropdown-content">
                    <a href="DreamTeam.html">DreamTeam</a>
                    <a href="Visionary.html">Visionary</a>
                    <a href="Newspaper.html">Newspaper</a>
                    <a href = "Center.html">Center</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/memberships.html/">Memberships</a>
                <div class = "dropdown-content">\
                    <a href = "Council.html">Council</a>
                    <a href = "CouncilMembership.html">Council Membership</a>
                    <a href = "Ministers.html">Ministers 2030</a>
                    <a href = "Leaders.html">Leaders 2030</a>
                    <a href = "Association.html">Association</a>
                    <a href = "AssociationMembership.html">Association Membership</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/initiatives.html/">Initiatives</a>
                <div class ="dropdown-content">
                    <a href = "Fellowship.html">Fellowship</a>
                    <a href = "Festivals.html">Festivals</a>
                    <a href = "Small%20Groups.html">Small Groups</a>
                    <a href = "Seminars.html">Seminars</a>
                    <a href = "Seminary.html">Seminary</a>
                    <a href = "Institutes.html">Institutes</a>
                    <a href = "Care.html">Care</a>
                    <a href = "Build.html">Build</a>
                    <a href = "Lifeline.html">Lifeline</a>
                    <a href = "FoodBank.html">FoodBank</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/contact-us.html/">Contact Us</a>
                <div class = "dropdown-content">
                    <a href = "Donate.html">Donate 501C3</a>
                    <a href = "Privacy.html">Your Privacy</a>
                    <a href = "Policies.html">Our Policies</a>
                    <a href = "Email.html">Join Emails</a>
                </div>
            </div>
        </nav>
        <h1 class = "header">Initiatives International</h1>
        <h2 class = "subheader">A Membership Movement United To Serve</h2>
        <p>A 501c3 Tax Exempted Religious Organization</p>
        <h1 class = "page title">InterChristian International Seminars</h1>
        <h1 class = "body header">The need for harvest is plentiful now than ever before, so the training also.</h1>
        
        <img src = "seminars1.jpg">
        <img src = "seminars2.jpg">
        <img src = "seminars3.jpg">
        <img src = "seminars4.jpg">
        <img src = "seminars5.jpg">
        <img src = "seminars6.jpg">
        <img src = "seminars7.jpg">
        
        <h4 style="text-align:center"><strong>InterChristian Seminars</strong></h4>
        
        <p><em>"Therefore said he unto them, the harvest truly is great, but the labourers are few: pray ye therefore the Lord of the harvest, that he would send forth labourers into his harvest". Luke 10:2</em>
        </p>
        
        <p>As per these words of Lord Jesus Christ the harvest is plentiful in those days and even today, the laborers are few in those days and even today. But if we compare the population then and now, todays population is thousands of times more. There are certainly not enough laborers. Moreover, the great commission is given for everybody to love and serve the people. Therefore, The InterChristian International has initiated several educational initiatives in order to teach life based, application based and skills based program in the Churches.
        </p>
        
        
        <p>Topics on InterChristian Seminars include in the category of Contemporary Issues, Christian Leadership, Community Leadership, Multi-Cultural Communication, Christian Life, Management, Marriage, Relationship, Seminar on various ministries in the Churches and Pastoral Skills based courses.
        </p>
        
        <p>These Seminars are organized interdenominationally and nondenominationally. The Seminar could be organized from for either three days or three hours. It could also be organized for either seven hours or seven days. Though there is no fee involved for the seminar we do encourage every participant and the organizing body to contribute towards the self-supporting efforts and growth of the mission.
        </p>
        
        <p>The founder of the mission is a clinical pastoral educator and involved in various teaching aspects of the ministries for the past thirty years. Once we receive a request to run a seminar in your group or church we would identify an expert in the field of your request and  to run the course in your vicinity. Please contact the office of the InterChristian International  via email to our office@interchristian.org.</p>
        
        <h4 class="redtext" style="text-align:center">InterChristian International Seminars<br>based on the principles of Clinical Pastoral Education</h4>
        <h4 style="text-align:center">A Skill based Training Program for Priests, Ministers, Social Workers, Counselors, Teachers,<br> Healthcare Professionals and Lay leaders</h4>
    
        <h3 class="redtext">January 25 - 27, 2018</h3>
        <p>Seminar on Pastoral Care Clinics based on Clinical Pastoral Education</p>
        
        <!-- Need to draw line here -->
        
        <h3 class="redtext">April 3 - 6, 2018</h3>
        <p>Seminar on Small Group Ministry inside and outside the Church</p>
        
        <!-- Need to draw line here -->
        
        <h3 class="redtext">April 21 - 24, 2018</h3>
        <p>Seminar on Congregational Development and Community Care</p>
        
        <!-- Need to draw line here -->
        
        <h3 class="redtext">October 6 - 9, 2018</h3>
        <p>Seminar Pastoral Care and Visitation Ministry based on Clinical Pastoral Education</p>
        
        <!-- Need to draw line here -->
        
        <h3 class="redtext">Venue for all the InterChristian International Seminars:<br></h3>
        <p>The InterChristian Center, 116 Village Blvd, Suite 200, Princeton, NJ 08540
        Accommodation for International Delegates are arranged at The Best Western Princeton Manor Inn & Suites, 4191 US-1, Monmouth Junction, NJ 08852, USA </p> 
        
        <h3 class="redtext">Processing, Registration and Seminar Fee: <br></h3>
        <p>Although InterChristian International Seminars are supported by  donors and well-wishers, there is a non-refundable registration cost of $200 USD towards the processing, authenticating and logistics of the application. In addition, it enables the international delegates to obtain an official invitation to make travel arrangements. All the international delegates should pay the hotel fee of $200 USD on the day of arrival or before through our website portal page Seminar Registration. This will cover the cost of boarding and lodging during the seminar for the international delegates. The local delegates are provided lunch and snacks during the conference.</p> 
        
        <h3 class="redtext">International and Local Delegates:<br></h3>
        <p>Seats are prearranged on first come first serve basis as seats are limited. Delegates are welcome from around the World. Please write to office@interchristian.org for more details and to book your place.</p>
        

    </body>
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>