<!DOCTYPE HTML>
<html>
    <head>
        <style>
            .redtext {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1 class = "site title">InterChristian</h1>
        <nav>
            <a href = "/home.html/">Home</a>
            <div class="dropdown">
                <a href = "About.html">About</a>
                <div class="dropdown-content">
                    <a href="DreamTeam.html">DreamTeam</a>
                    <a href="Visionary.html">Visionary</a>
                    <a href="Newspaper.html">Newspaper</a>
                    <a href = "Center.html">Center</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/memberships.html/">Memberships</a>
                <div class = "dropdown-content">\
                    <a href = "Council.html">Council</a>
                    <a href = "CouncilMembership.html">Council Membership</a>
                    <a href = "Ministers.html">Ministers 2030</a>
                    <a href = "Leaders.html">Leaders 2030</a>
                    <a href = "Association.html">Association</a>
                    <a href = "AssociationMembership.html">Association Membership</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/initiatives.html/">Initiatives</a>
                <div class ="dropdown-content">
                    <a href = "Fellowship.html">Fellowship</a>
                    <a href = "Festivals.html">Festivals</a>
                    <a href = "Small%20Groups.html">Small Groups</a>
                    <a href = "Seminars.html">Seminars</a>
                    <a href = "Seminary.html">Seminary</a>
                    <a href = "Institutes.html">Institutes</a>
                    <a href = "Care.html">Care</a>
                    <a href = "Build.html">Build</a>
                    <a href = "Lifeline.html">Lifeline</a>
                    <a href = "FoodBank.html">FoodBank</a>
                </div>
            </div>
            <div class = "dropdown">
                <a href = "/contact-us.html/">Contact Us</a>
                <div class = "dropdown-content">
                    <a href = "Donate.html">Donate 501C3</a>
                    <a href = "Privacy.html">Your Privacy</a>
                    <a href = "Policies.html">Our Policies</a>
                    <a href = "Email.html">Join Emails</a>
                </div>
            </div>
        </nav>
        <h1 class = "header">Initiatives International</h1>
        <h2 class = "subheader">A Membership Movement United To Serve</h2>
        <p>A 501c3 Tax Exempted Religious Organization</p>
        <h1 class = "page title">InterChristian International Seminars</h1>
        <h1 class = "body header redtext">Seminars Registration Form</h1>
        
        <form>
            Name:<br>
            <input type="text" name="name"  size="100" placeholder="Enter name here as it is found in your Passport or Government ID"><br>
            Email:<br>
            <input type="text" name="email" size="100" placeholder="Enter email address"><br>
            Phone<br>
            <input type="text" name="phone" size="100" placeholder="Enter text here"><br>
            Address<br>
            <input type="text" name="address" size="100" placeholder="Enter your comments here"><br>
            City and Country<br>
            <input type="text" name="address" size="100" placeholder="Enter text here"><br>
            Church/Organization and Position<br>
            <input type="text" name="address" size="100" placeholder="Enter text here"><br>
            
            <p>Choose Your Seminar</p>
            <input type="radio" name="chooseSem" value="April" checked> April 3-6, 2018: Seminar on Small Group Ministry inside and outside the Church <br>
            <input type="radio" name="chooseSem" value="August" checked> August 21-24, 2018: Seminar on Congregational Development and Community Care <br>
            <input type="radio" name="chooseSem" value="Nov" checked> November 6-9, 2018: Seminar on Chaplaincy based on Clinical Pastoral Education <br>
            
            
            <p>International Delegates should upload a scanned copy of your passport and local delegates should upload government issued ID<br></p>
            <button type="submit">Choose File</button>
            <p>File must be 10MB or less<br></p>
            
            <p>Please upload a digital phot taken in the last six months<br></p>
            
            <button type="submit">Choose File</button>
            <p>File must be 10MB or less<br></p>
            
            <p>Reference 1 Your Minister or Leader who knows you for the last five years.</p>
            
            <textarea rows="4" cols="50">
            </textarea>
            
            <p>Reference 2 Your Neighbor who knows you for the last five years. *</p>
            
            <textarea rows="4" cols="50">
            </textarea>
            
            <p>I understand and Agree:Check the Box</p>
            
            <label class="container">I understand and agree that registration fee for each Seminar is USD $200 for local and international candidates and it is non-refundable as it goes towards logistics and processing of my application. I must attend the seminar without fail once I reach US after stamping of visa. In addition all the international delegates pay hotel fee of $200 on or before arrival. I will be responsible for my travel and accommodation after the seminar.
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label><br>
            
            
            <br>Click Donante Button above to Pay and Complete or Just click SUbmit to pay later:<br>
            <input type="text" name="click"  size="100" placeholder="Enter name here as it is found in your Passport or Government ID"><br>
            <br>Name:<br>
            <input type="text" name="name2"  size="100" placeholder="Enter text here"><br>
            
            <br><button type="submit">Submit</button>

        </form> 
        
            
        

    </body>
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
</html>