<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/stylesheets/small-groups.css">

        <link href="small-groups.css" rel="stylesheet">

        <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">
    </head>
    <body>
        <div class = container>
          <div class="navbar2">
            <div class="bigtitle">
            <a href="/home.html"><h1 class="bigtitle">InterChristian</h1></a>
            </div>
            
            <a href="/home.html" class="homebar">HOME</a>
            

        <div class="dropdown2">
            <a href="/about-us.html" class="dropbtn2">ABOUT US</a>
        <div class="dropdown-content2">
            <a href="/dreamteam.html">DREAMTEAM</a>
            <a href="/visionary.html">VISIONARY</a>
            <a href="/newspaper.html">NEWSPAPER</a>
            <a href="/center.html">CENTER</a>
        </div>
        </div>
        <div class="dropdown2">
            <a href="/memberships.html" class="dropbtn2">MEMBERSHIPS</a>
        <div class="dropdown-content2">
            <a href="/council.html">COUNCIL</a>
            <a href="/councilmembership.html">COUNCIL MEMBERSHIP</a>
            <a href="/ministers-2030.html">MINISTERS 2030</a>
            <a href="/leaders-2030.html">LEADERS 2030</a>
            <a href="/association.html">ASSOCIATION</a>
            <a href="/associationmembership.html">ASSOCIATION MEMBERSHIP</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/initiatives.html" class="dropbtn2">INITIATIVES </a>
        <div class="dropdown-content2">
            <a href="/fellowship.html">FELLOWSHIP</a>
            <a href="/festivals.html">FESTIVALS</a>
            <a href="/small-groups.html">SMALL GROUPS</a>
            <a href="/seminars.html">SEMINARS</a>
            <a href="/seminarregistration.html">SEMINNARS REGISTRATION</a>
            <a href="/seminary.html">SEMINARY</a>
            <a href="/institutes.html">INSTITUTES</a>
            <a href="/care.html">CARE</a>
            <a href="/build.html">BUILD</a>
            <a href="/lifeline.html">LIFELINE</a>
            <a href="/foodbank.html">FOODBANK</a>
        </div>
        </div>
        <div class="dropdown2">
        <a href="/contact-us.html" class="dropbtn2">CONTACT US</a>
        <div class="dropdown-content2">
            <a href="/donate501.html">DONATE 501C3</a>
            <a href="/yourprivacy.html">YOUR PRIVACY</a>
            <a href="/ourpolicies.html">OUR POLICIES</a>
            <a href="/join-email.html">JOIN EMAILS</a>
        </div>
        </div>
        <button class="donate">DONATE</button>
        
        
        </div> 
        <div class = "logo">
            <h1 class = "header">Initiatives International</h1>
            <h2 class = "subheader">A Membership Movement United To Serve</h2>
            <h4 class = "tax">A 501c3 Tax Exempted Religious Organization</h4>
            <img src = "http://nebula.wsimg.com/2ef6cf8437299c8413d38fe35c5f6681?AccessKeyId=0EB55C264061E955F24A&disposition=0&alloworigin=1">
            <h4 class = "body-header">InterChristian Small Groups</h4>
        </div>
            <div class = "body-container">
                <h1 class = "header2">Small Groups that operates as Study Group, Support Group, Self-Help Group, Service Group, Sending Group and Sponsoring Group</h1>
        <p class = "body">InterChristian Groups meet once a week and InterChristian Fellowship meets once a month. In the early church the believers came together, fellowship together and study together. But now is the time again come for us to come together.</p>
        <p class = "body">InterChristian International is Initiating Small Group Stratergy region wise, so that people from different worshipping community could join and be strenghtened in their walk of faith.</p>
        <p class = "body">We foresee this small group to become a supporting group for the members. It will maintain the trust and confidentiality but support in the members emotional and spiritual wellness. The support group could become a sponsoring group to sponsor some good cause. There is a need to send workers to the unreached places around the World. The small group could grow to become one of such group that sponsored and several missionaries from west to eact and elsewhere.</p>
        <h3 class = "body">If you are interested in organizing a small faith group in your home or area please contact us.</h3>
        <h5 class = "franchise">Please write to ceo@interchristian.org for more details and to book your seat.</h5>
            </div>
        </div>
    </body>
    <div class = "container">
    <footer>
        <div class = "copyright">
            <h4>Copyright © InterChristian International</h4>
            <h4>All rights reserved</h4>
        </div>
        <div class = "contact info">
            <h4>InterChristian International Office:</h4>
            <h4>116 Village Blvd, Suite 200, Princeton, NJ 08540</h4>
            <h4>United States</h4>
            <h4>Phone: +1.609.489.5173, Fax: +1.609.489.5174</h4>
            <h4>Email: office@interchristian.org</h4> 
        </div>
    </footer>
    </div>  
</html>