
.navbar {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    max-width:100%;
    min-width: 1000px;
    overflow: hidden;
    background-color: #333;
    font-family: Lato, sans-serif;
    font-weight: 900;
}

/* Links inside the navbar */
.navbar {
    background-color: white;
}

.navbar a {
    float: left;
    font-size: 15px;
    color: rgb(0, 63,127);
    text-align: center;
    line-height: 18px;
    font-weight: 800px;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

div.dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* The dropdown container */
.dropdown, .dropdown2, .donate{
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn, .dropdown2 .dropbtn2, .donate .donantebtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: rgb(0, 63,127);
    font-weight: 800px;
    line-height: 18px;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn, .dropdown2:hover .dropbtn2 {
    background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content, .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgb(195,88,84);
    min-width: 150px;
    max-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a, .dropdown-content2 a{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
        
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover, .dropdown2-content a {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2 {
    display: block;
}

.donate {
    float: right;
    font-size: 16px;
    background-color: rgb(59,117,183);
    color: white;
    text-align: center;
    padding: 14px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 30px;
    margin-top:10px
    margin-bottom:10px;
    font-family: Lato;
}

.header{
    font-family:Lato;
    color:white;
    background-color: rgb(59, 117, 183);
    padding: 0px 0px;
}

.subheader{
    font-family: Lato;
    font-size: 16px;
    color:lightgray;
    background-color: rgb(59, 117, 183);
}

p {
    font-family: Lato;
    font-weight: 400;
    padding-left: 300px;
    padding-right: 500px;
    padding-bottom:0px;
    padding-top: 0px;
    margin: 0px;
}

.letter {
    padding: 10px;
    padding-left: 300px;
    padding-right: 500px;
}

.signature {
    padding-bottom: 10px;
}

form {
    padding-left: 300px;
    padding-right: 500px;
    font-family: Lato;
    padding-bottom: 100px;
}

form input {
    font-family: Lato;
    font-size: 18px;
    height: 35px;
    width: 300px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

form br {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.logo {
    padding-bottom: 0px;
    background-color: rgb(59, 117, 183);
    color: white;
    padding-left: 100px;
    height: 100%;
    padding-top: 10px;
}

.logo p {
    padding-left: 100px;
}

.logo img {
    float: left;
    padding-top: 10px;
    padding-right: 20px;
}

.logo h2 {
    font-size: 20px;
}

.logo #page-title {
    padding-top: 0px;
    padding-left: 500px;
    font-size: 36px;
    font-family: Lato;
}

h3 {
    text-align: center;
    color: rgb(59, 117, 183);
    font-weight: 400;
    font-family: Lato;
    font-size: 36px;
}

footer {
    padding-top: 10px;
    background-color:rgb(59, 117, 183);
    color: white;
    font-family: Lato;
    font-size: 12px;
    padding-right: 10px;
    position: relative;
    padding-left: 10px;
}

footer img {
    float:left;
    padding-right: 20px;
}

footer .mailing {
    padding-bottom: 10px;
    line-height:7px;
}

footer .copyright{
    padding-bottom: 0px;
    line-height: 9px;
    float:right;
    bottom: 0;
    right: 0;
    position: absolute;
    padding-right: 10px;
}

footer .phone {
    padding-bottom: 5px;
    line-height: 7px;
}
